<!-- templates/search_results.html -->
{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
  <h1>Search dictionary</h1>
  <hr>
  <form action="" method="get">
    <input id="search_input" name="q" type="text" placeholder="Search..." value="{{ query_string }}" onkeyup="replaceChars()" >

    <div class="col">
      <div class="form-group">
        <input class="form-check-input" type="radio" name="search_type" id="search_type1" value="exact" {% if search_type == "exact" %} checked {% endif %}>
        <label class="form-check-label" for="search_type1">
         Exact match
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="search_type" id="search_type2" value="substring_match" {% if search_type == "substring_match" %} checked {% endif %}>
        <label class="form-check-label" for="search_type2">
          Substring match
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="search_type" id="search_type3" value="starts_with" {% if search_type == "starts_with" %} checked {% endif %}>
        <label class="form-check-label" for="search_type3">
          Starts with
        </label>
      </div>
      <div class="form-group">
        <input class="form-check-input" type="radio" name="search_type" id="search_type4" value="ends_with" {% if search_type == "ends_with" %} checked {% endif %}>
        <label class="form-check-label" for="search_type4">
          Ends with
        </label>
      </div>
    </div>

  </form>

  <div>
    <input type="checkbox" id="check_velthuis" name="check_velthuis" checked />
    <label for="check_velthuis">Use <a href="{% url 'velthuis_page' %}">Velthuis character substitution</a></label>
  </div>

<script>
function replaceChars() {

  use_velthuis = $("#check_velthuis").is(":checked");
  if (!use_velthuis) {
    return
  }

  let str = document.getElementById("search_input").value;
  let res = str.replace(/A/g, "ā");
  res = res.replace(/U/g, "ū");
  res = res.replace(/I/g, "ī");
  res = res.replace(/~n/g, "ñ");
  res = res.replace(/\.n/g, "ṇ");
  res = res.replace(/:n/g, "ṅ");
  res = res.replace(/\.m/g, "ṃ");
  res = res.replace(/\.l/g, "ḷ");
  res = res.replace(/\.r/g, "ṛ");
  res = res.replace(/\.t/g, "ṭ");
  res = res.replace(/\.d/g, "ḍ");
  res = res.replace(/:r/g, "√");
  console.log(res)
  document.getElementById("search_input").value = res;
}
</script>



  <hr>
  {{ query_string_with_label|linebreaks }}
  <ul>
    <table class="table">
      <thead>
        <tr>
          <th> results </th>
        </tr>
      </thead>
      {% for entry in object_list %}
      <tr>
        <td> <a href="{% url 'lookup_word' entry.headword %}"> {{ entry.headword }} </a> </td>
      </tr>
      {% endfor %}
    </table>
  </ul>

</div>


{% endblock %}

<!-- https://stackoverflow.com/questions/68566171/how-to-replace-characters-while-writing-in-a-form -->

